/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.font {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    width: 70%;
    margin: auto;
}

.container_sm {
    width: 50%;
    margin: auto;
}

.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: calc(100% / 12 *12);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.center {
    justify-content: center;
}

a {
    text-decoration: none;
}

.btn {
    border-radius: 5rem;
    padding: 1% 2%;
    display: inline-block;
}

.lg {
    padding: 2% 10%;
}

.b_radius_125 {
    border-radius: 1.25rem;
}

/* #endregion common */

/* #region debug */

.debug header {
    height: 100px;
}

.debug [class^="col_"] {
    background-color: rgba(255, 82, 82, 0.545);
    border: 1px solid;
    height: 350px;

}

.debug footer {
    height: 100px;
}

/* #endregion debug */

/* #region utility */
:root {
    --secondary: #0084FD;
    --dark: #333333;
    --primary: #9792E4;
    --secondary-light: #B5DDFF;
    --secondary-dark: #5A6E7F;
    --warning: #FDC15F;
    --light: #fff;
    --darker: #000;
}

.bg_primary {
    background-color: var(--primary);
}

.bg_secondary {
    background-color: var(--secondary);
}

.light {
    background-color: var(--light);
}

.bg_dark {
    background-color: var(--dark);
}

.bg_secondary_light {
    background-color: var(--secondary-light);
}

.y_centered {
    align-items: center;
}

.d_flex {
    display: flex;
}

.position_r {
    position: relative;
}

.position_a {
    position: absolute;

}

/* #endregion utility */



/* #region header */
header .row {
    padding: 0.5rem 0;
}

header img {
    width: 12%;
}

nav a {
    color: var(--light);
}

nav .right {
    justify-content: space-between;
    display: flex;
    font-weight: 300;
}

nav .btn {
    color: var(--darker);
}

/* #endregion header */


/* #region main */

/* #region demo */
.demo {
    margin-top: 3%;
}

.demo .card {
    padding-left: 3%;
}

.demo .row {
    margin-left: -1.5%;
    height: 100%;
}

.demo .row .col_3,
.demo .row .col_7 {
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}

.demo .row .col_3 {
    flex-grow: 0;

}

.demo .row .col_7,
.demo .row .col_3 {
    flex-grow: 1;
}


.demo a {
    color: var(--light);
    font-weight: 600;
    font-size: 1.25rem;
}

.demo h3,
.demo h4 {
    color: var(--secondary);
    padding: 5% 0;
}

.card .right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
}

.card .col_5.right img {
    width: 70%;
}

.card .left h4 {
    margin: 10% 0;
}

.card .left .btn {
    margin-top: 10%;

}

.demo p {
    color: var(--secondary-dark);
    font-weight: 600;

}

.demo .card_sm {
    text-align: center;
}

.demo .card_sm {
    padding: 0 1%;
    padding-bottom: 10%;
}

.card_sm h3 {
    padding: 5% 0;
}

.card_sm .item {
    display: inline-block;
    font-size: 70px;
    color: var(--secondary);
    padding-top: 5%;
}

.card_sm .details {
    text-align: center;
    padding: 1rem;
}

/* #endregion demo */

/* #region planning */
.planning {
    margin: 5% 0;
}

.planning .row {
    gap: 5%;
}

.planning .left h2,
.planning .left p {
    color: var(--light);
}

.left,
.right {
    padding: 1%;
}



.planning h2 {
    padding: 10% 0;
    font-size: 2rem;
}

.planning h3 {
    padding: 10%;
    font-size: 1.75rem;
}

.planning .left {
    padding-top: 5%;
}

.planning .right {
    background-color: var(--light);
    border-radius: 3rem;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

.right .item {
    display: inline-block;
    margin: 10%;
    font-size: 1.25rem;
    border-radius: 50%;
    padding: 4% 5%;
}

/* #endregion planning */

/* #region partner */

.partner_header {
    text-align: center;
    margin-bottom: 1%;
}

.partner h2 {
    font-size: 3rem;
    color: var(--primary);
    padding: 5% 0;
}

.partner p,
.partner span {
    font-size: 1.15rem;

}

.partner_card {
    color: var(--light);
}



.partner_card {
    margin-top: 3%;
    background-color: var(--primary);
    border-radius: 3rem;

}

.partner_card img {
    width: 70%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 6% 4%;
}

.partner_card .right {
    padding-left: 3%;
}

.quote>h3 {
    padding-top: 3%;

}

/* #endregion partner */


/* #region benefits */
.benefits {
    margin: 5% 0;
}

.benefits .row {
    gap: 1.5%;
}

.benefits .container {
    padding: 3% 0;
}

.benefits .card_sm {
    background-color: var(--light);
    padding: 2%;
    flex-grow: 1;
    border-radius: 1.25rem;
    margin-bottom: 1.5%;
}

.benefits h2 {
    color: var(--primary);
    font-size: 3.75rem;
}

.benefits h3 {
    color: var(--light);
    font-size: 2.25rem;
    text-align: center;
    padding-bottom: 5%;
}

a.btn.bg_primary {
    margin: 20% 0;
    color: var(--light);
    font-weight: 700;
}

/* #endregion benefits */


/* #region about us */

.about_us {
    padding: 5%;
}

.about_us .row {
    justify-content: space-between;
}

.about_us h2 {
    font-size: 3.5rem;
    color: var(--primary);
    padding-bottom: 3%;
}

.about_us p {
    line-height: 2rem;
    padding-bottom: 3%;
}

.about_us img {
    width: 90%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin: 6% 4%;
}

.marker {
    top: 0;
    right: 0;
    color: var(--primary);
    font-size: 5rem;
}

.about_us h3 {
    font-size: 1.5rem;
    color: var(--primary);
    padding-top: 5%;
}

.about_us a.btn.bg_primary {
    font-weight: 400;
    margin: 10% 0;
}

.about_us a.btn.bg_primary>i {
    padding-right: 0.25rem;
}

/* #endregion about us */
/* #endregion main */


/* #region footer */


/* #endregion footer */